:root {
  scroll-behavior: auto;
}

.alert-box {
  background-color: skyblue;
  color: white;
  border-radius: 50px;
  padding: 50px;
  display: none;
}

.list-group {
  display: none;
}

.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}

.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}

.show-modal {
  visibility: visible;
  opacity: 1;
}

.main-bg {
  padding: 100px 10px;
  background: lightgray;
}

body {
  background: #fff;
  color: #000;
}

.dark-mode {
  background: black;
  color: white;
}

.slide-container {
  width: 300vw;
  transition: all 1s;
  height: 200px;
}

.slide-box {
  width: 100vw;
  height: 200px;
  float: left;
}

.slide-box img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.navbar {
  position: fixed;
  width: 100%;
}

.navbar-brand {
  font-size: 30px;
  transition: all 1s;
}

/* 프로그래스바 전체부분*/
.progress-container {
  position: fixed;
  z-index: 5;
  /*페이지의 다른 요소보다 가장 위에 나타나도록 설정*/
  width: 100%;
  height: 8px;
  background: white;
}

/* 프로그래스바 디자인 */
.progress-bar {
  width: 0%;
  height: 8px;
  background: #ff5e00;
}


.vertical-text {
  writing-mode: vertical-rl;
  font-size: 10rem;
}

.clock-box,
.weather {
  text-align: center;
  font-size: 3rem;
}

.clock-box span,
.weather span {
  color: coral;
}